<h2 mat-dialog-title>O mnie :)</h2>
<mat-dialog-content>
  <p>Jestem doświadczonym programistą z 6-letnim stażem. Moją specjalizacją jest tworzenie aplikacji webowych przy użyciu frameworka Angular. 
    Codziennie korzystam z języka TypeScript oraz technologii HTML i CSS, aby dostarczyć wyjątkowe interaktywne rozwiązania.</p>

  <p>Kiedy mam chwilę wolnego czasu, najbardziej cieszę się spędzaniem go z moją ukochaną rodziną. Moja żona i córka są dla mnie najważniejsze, więc staram się maksymalnie wykorzystać czas, który mogę spędzić z nimi.</p>

  <p>Poza pracą i rodziną, mam jeszcze jedną wielką pasję - piłkę nożną. Grając w piłkę, odprężam się i czerpię radość z rywalizacji z innymi osobami.</p>

  <p>Jako entuzjasta front-endu, nieustannie śledzę najnowsze trendy i nowinki w tej dziedzinie.
    Regularnie czytam blogi, artykuły i uczestniczę w konferencjach, aby być na bieżąco z najnowszymi narzędziami i technologiami, które mogą usprawnić moją pracę i przynieść nowe możliwości tworzenia wspaniałych interfejsów użytkownika.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>