.countries {
    &__card {
        margin: 20px;
        color: white;
        text-align: center;
    }

    &__country{
        cursor: pointer;
    }

    &__flag{
        width: 45px;
    }

}